body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(21, 21, 21);
}

.game{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 600px;
}

ol, ul{
    padding-left: 20px;
}
.board-row:after{
    clear: both;
    content: "";
    display: table;
}
.status{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #ededf0;
    /* text-shadow:  0 0 0.45em 0 #d70f12; */
    text-shadow:  0 0 0.125em rgb(47, 113, 204),
    0 0 0.45em currentColor;
}
.square{
    background: #0d0d0d;
    border: 2px solid #fd00b1;
    box-shadow: inset 0 0 0.2em 0 #fd00b1,
    0 0 0.5em 0 #fd00b1;
    float: left;
    font-size: 50px;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    color: #c62b8b;
}

.O-class{
    color: yellow;
    text-shadow:  0 0 0.125em rgb(236, 236, 18),
    0 0 0.45em currentColor;
}
.X-class{
    color: rgb(13, 235, 13);
    text-shadow:  0 0 0.125em rgb(72, 236, 18),
    0 0 0.45em currentColor;
}
/* .square:focus{
    display: flex;
    flex-direction: row;
} */
.game-info{
    margin-left: 20px;
    padding: 20px;
    color: white;
    margin-top: 100px
}
.game-info ol li{
    padding: 5px;
    color: rgb(8, 182, 23);
}
.game-info button{
    width: 120px;
    height: 25px;
    background-color: transparent;
    color: rgb(8, 182, 23);
    border: none;
    cursor: pointer;
}
.game-info button:hover{
    color: yellow;
}

.status-info{
    color: yellow;
    font-size: 20px;
}
.reset{
    max-width: 300px;
}
.reset button {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    font-size: 20px;
    background-color: transparent;
    border: #fd00b1 0.125em solid;
    box-shadow:  inset 0 0 0.5em 0 #fd00b1,
                0 0 0.5em 0 #fd00b1;
    border-radius: 10px;
    cursor: pointer;
    color: #fd00b1;
    text-shadow: 0 0 0.125em #fd00b1, 0 0 0.45em #fd00b1;
}
.reset button:hover{
    opacity: 0.8;
}
.reset button:active{
    opacity: 0.5;
}

h1{
    color: #c62b8b;
    text-shadow: 0 0 0.5em #e00cab, 0 0 0.5em #e210e2;
}

@media (max-width: 500px){
    .game{
        display: block;
        margin-left: 30px;
    }
    .game-info{
        margin-top: 20px
    }

}

.text-color{
    color: red!important;
}
.game-info p {
    color: #c62b8b;
}